[DEFAULT]
debug = False
log_dir = /var/log/kolla/nova
state_path = /var/lib/nova
osapi_compute_listen = 0.0.0.0
osapi_compute_listen_port = 8774
osapi_compute_workers = 5
metadata_workers = 5
metadata_listen = 0.0.0.0
metadata_listen_port = 8775
firewall_driver = nova.virt.firewall.NoopFirewallDriver
linuxnet_interface_driver = nova.network.linux_net.LinuxOVSInterfaceDriver
allow_resize_to_same_host = true
compute_driver = libvirt.LibvirtDriver
#my_ip = 10.19.139.81
transport_url=rabbit://{{result.conf_dict['oslo_messaging_rabbit']['rabbit_userid']}}:{{result.conf_dict['oslo_messaging_rabbit']['rabbit_password']}}@rabbitmq:{{result.conf_dict['oslo_messaging_rabbit']['rabbit_port']}}/?ssl=0

[api]
use_forwarded_for = true

[conductor]
workers = 5

[vnc]
#novncproxy_host = 10.19.139.81
novncproxy_port = 6080
#vncserver_listen = 10.19.139.81
#vncserver_proxyclient_address = 10.19.139.81
#novncproxy_base_url = http://10.10.10.254:6080/vnc_auto.html

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[glance]
api_servers = http://glance-api:9292
num_retries = 1
debug = False

[cinder]
catalog_info = volumev2:cinderv2:internalURL

[neutron]
url = http://neutron:9696
metadata_proxy_shared_secret =
service_metadata_proxy = true
auth_url = http://keystone:35357/v3
auth_type = password
project_domain_name = default
user_domain_id = default
project_name = service
username = neutron
password =

[database]
connection = mysql+pymysql://nova:@mariadb:3306/nova
max_pool_size = 50
max_overflow = 1000
max_retries = -1

[api_database]
connection = mysql+pymysql://nova_api:@mariadb:3306/nova_api
max_retries = -1

[cache]
backend = oslo_cache.memcache_pool
enabled = True
memcache_servers = memcached:11211

[keystone_authtoken]
auth_uri = http://keystone:5000
auth_url = http://keystone:35357
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = service
username = nova
password =
memcache_security_strategy = ENCRYPT
memcache_secret_key =
memcached_servers = memcached:11211

[libvirt]
#connection_uri = qemu+tcp://10.19.139.81/system

[upgrade_levels]
compute = auto

[oslo_messaging_notifications]
driver = noop

[privsep_entrypoint]
helper_command = sudo nova-rootwrap /etc/nova/rootwrap.conf privsep-helper --config-file /etc/nova/nova.conf

[guestfs]
debug = False

[wsgi]
api_paste_config = /etc/nova/api-paste.ini

[scheduler]
max_attempts = 10
discover_hosts_in_cells_interval = 60

[placement]
auth_type = password
auth_url = http://keystone:35357
username = placement
password =
user_domain_name = default
project_name = service
project_domain_name = default
os_region_name = RegionOne
os_interface = internal
